In [42]:
import pandas as pd 
df = pd.read_csv('resources/hm_deploy_201808.csv', index_col='Unnamed: 0')
df.tail()

,filename,latD,latM,latS,latH,lonD,lonM,lonS,lonH,date,latitude,longitude
Unnamed: 0,,,,,,,,,,,,
108,IMG_0838.jpg,18,25,35.12,N,66,5,40.33,W,20180825,18.426422,-66.094536
109,IMG_0836.jpg,18,25,40.82,N,66,5,35.28,W,20180825,18.428006,-66.093133
110,IMG_0830.jpg,18,25,46.82,N,66,5,29.62,W,20180825,18.429672,-66.091561
111,IMG_0831.jpg,18,25,44.97,N,66,5,31.46,W,20180825,18.429158,-66.092072
112,IMG_0837.jpg,18,25,37.23,N,66,5,38.54,W,20180825,18.427008,-66.094039

In [46]:
df['date'].dtype

dtype('int64')

In [47]:
datelist=list(df['date'].value_counts().index)
datelist

[20180823, 20180824, 20180825]

In [48]:
print(df.shape)
df1=df[df['date']==datelist[0]]

print(df1.shape)
print(df['date'].dtype)
#print(df1['latitude'])

(113, 12)
(55, 12)
int64